
<div class = 'container-fluid wrapper'>
      <div class="canvas">
          <div class = 'canvas-header'>
              <img class = 'avatar' src="../../../assets/images/avatar.jpg" alt="" >
              <div class = 'greeting'>
                <h2>Hello,</h2>
                <h3>MY NAME IS <span class = 'name'>KEVIN FABIAN</span> <sup class ='age'>26YO</sup> AND THIS IS MY RESUME/CV</h3>
              </div>
          </div>
          <div class = 'canvas-body'>
              <div class = 'divider' ></div>
              <div class="row mt-3">
                  <div class = 'col-md-8'>
                      <h4 class ='title'>ABOUT ME</h4>
                  </div>
                  <div class="col-md-4">
                      <h4 class ='title'>CONTACT</h4>
                  </div>
              </div>
          </div>
        </div>
</div>